<div class="container">
  <div class="text-center" >
    <i class="fa-solid fa-circle-check fa-2xl" style="color: #418605;"></i>
    <strong><h1 style="color: #3E8302">Hey, <%= @booking.user.first_name %>! You successfully booked an item!</h1></strong>
  </div>


    <div class="row justify-content-center my-5">
      <div class="col-12 col-lg-6 border rounded shadow py-3 px-4">
        <h3 class="pt-4 text-center">Booking details:</h3>
        <img class="d-flex align-items-center" style="height: 300px; width: 100%; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center">
        <p class="ps-2 pt-3"><strong>Item: </strong><%= @booking.item.title %></p>
        <p class="ps-2"><strong>Description: </strong><%= @booking.item.description %></p>
        <p><i class="fa-solid fa-location-dot fa-lg ps-2" style="color: #044c3c;"></i><strong>Pick-up location: </strong><%= @booking.item.location %></p>
        <p><i class="fa-solid fa-user fa-lg ps-2" style="color: #044c3c;"></i><strong>Item owner: </strong><%= @booking.item.user.first_name %> <%= @booking.item.user.last_name %></p>

        <div class="text-center">
          <p> Your booking starts on <strong><%= @booking.start_date %></strong> and ends on <strong><%= @booking.end_date %></strong></p>
          <p><strong>Total price: </strong>$<%= @booking.total_price %></p>
        </div>

        <h4 class="text-center py-3"><%=link_to "Check all your bookings", bookings_path(user_id: @booking.user_id ), class: "buttons" %>
        <%# <<%= link_to "Edit booking details", item_path()%>
      </div>
    </div>
  </div>
</div>
