<section>
  <div >
    <ul class="categories">
      <li><i class="fa-solid fa-volleyball"></i><%= link_to "Outdoor Adventure", root_path(category: "Outdoor Adventure") %></li>
      <li><i class="fa-solid fa-medal"></i><%= link_to "Water Sports", root_path(category: "Water Sports") %></li>
      <li><i class="fa-solid fa-baseball-bat-ball"></i><%= link_to "Winter Sports", root_path(category: "Winter Sports") %></li>
      <li><i class="fa-solid fa-baseball"></i><%= link_to "Team Sports", root_path(category: "Team Sports") %></li>
      <li><i class="fa-solid fa-dumbbell"></i><%= link_to "Fitness & Training", root_path(category: "Fitness & Training") %></li>
      <li><i class="fa-solid fa-bicycle"></i><%= link_to "Cycling", root_path(category: "Cycling") %></li>
      <li><i class="fa-solid fa-person-walking"></i><%= link_to "Recreational Sports", root_path(category: "Recreational Sports") %></li>
      <li><i class="fa-solid fa-heart-pulse"></i><%= link_to "Extreme Sports", root_path(category: "Extreme Sports") %></li>
    </ul>
  </div>
</section>
