    <!-- review Section -->

    <!-- show existing reviews section  -->
    <div class="reviewbigcontainer">
       <ul>
        <% @reviews.each do |review| %>
        <li>
          <div class="container reviewbox border ">
          <p><strong>Username:</strong>
          <%= review.user.username%>
          </p>
          <p><strong>Rating:</strong>
          <%= review.rating%>
          </p>
          <p><strong>Review:</strong>
          <%= review.comments%>
          <% if review.user_id == current_user.id %>
          <%=  link_to "ðŸ—‘ï¸ Delete", item_review_path(review), class: "delete",
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </p>
          <% end %>
          <% end %>
          </div>
        </li>
       </ul>
    </div>


<!-- review Section -->
<!-- add new review Section -->

<div>
  <%if current_user%>
<%= simple_form_for [@item, @review] do |f| %>
  <%= f.input :comments, class: "reviewbox" %>
  <p>Rating
  <%= f.select :rating, options_for_select([1, 2, 3, 4, 5], @review.rating), class: "rating-dropdown" %>
  </p>
  <%= f.submit class: "reviewbox" %>
<% end %>
<% end %>
</div>
