<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center">Rent out an item</h1>

  <div class="form container mx-3 col-12 col-sm-4 shadow-lg p-5">
    <!-- Your form content -->
    <%= simple_form_for @item do |f| %>
      <%= f.input :title, placeholder:"Add a descriptive title" %>
      <%= f.input :price %>
      <%= f.input :image, as: :file,  input_html: { multiple: false } %>
      <%= f.input :description, placeholder:"Add a description" %>
      <%= f.input :category, as: :select, collection: Item::CATEGORIES, prompt: "Select category" %>
      <%= f.input :location %>

      <div class="d-flex justify-content-center pb-1">
        <%= f.submit "Submit", class: "buttons" %>
      </div>
    <% end %>
  </div>
</div>
