<div class="container">
<h1><%= @item.title.capitalize %></h1>
  <div class="row">
    <!-- Details Section -->
    <div class="col-md-8 details">
      <div>
        <p><% if @item.image_url.present? %>
          <div class="">
            <%= image_tag @item.image_url, class:"img-fluid", style: "width: 700px; height: 400px;" %>
          </div>
        <% end %>
      </div></p>
      <h4><%= @item.description %></h4>
      <div class="profile d-flex border-top border-bottom p-3 ps-3 my-5" style="width: 700px;">
        <i class="fa-solid fa-circle-user fa-2xl px-2 pt-2" style="color: #769fa7;"></i>
        <p class="card-text"> Renter: <%= @item.user.username %></p>
      </div>
    </div>

    <!-- Booking Section -->
    <div class="col-md-4 booking">
      <% if current_user %>
        <%= render "bookings/new" %>
      <% else %>
        <h2>Interested in this item?</h2>
        <%= link_to "Sign in", user_session_path%>
      <% end %>
    </div>
  </div>

  <div style="width: 700px;">
    <h3>
      <% if @reviews.count == 0 %>
        Be the first to leave a review!
      <% elsif @reviews.count == 1 %>
        <%= "#{@reviews.count} Review" %>
      <% else %>
        ><%= "#{@reviews.count} Reviews" %>
      <% end %>
    </h3>
      <%= render "reviews/reviews" %>
  </div>
</div>
