    <!-- review Section -->

    <!-- show existing reviews section  -->
    <div class="reviewbigcontainer">
        <ul>
        <% @reviews.each do |review| %>
        <li>
          <div class="container reviewbox border ">
            <div class= "d-flex align-items-center pt-3">
              <i class="fa-solid fa-circle-user fa-2xl pb-2" style="color: #769fa7;"></i>
              <strong><h5 class="ps-2"><%= review.user.username%></h5><strong>
            </div>
          <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
          <%= review.rating%>
          </p>
          <%# <p><strong>Review:</strong> %>
          <p><%= review.comments%></p>
          <% if current_user && review.user_id == current_user.id%>
          <%=  link_to "ðŸ—‘ï¸ Delete", item_review_path(review), class: "delete",
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
          <% end %>
          <% end %>
          </div>
        </li>
        </ul>

<!-- review Section -->
<!-- add new review Section -->

  <%if current_user%>
<%= simple_form_for [@item, @review] do |f| %>
  <%= f.input :comments, class: "reviewbox", placeholder: "Leave a review" %>
  <%# <p>Rating %>
  <%# <%= f.select :rating, options_for_select([1, 2, 3, 4, 5], @review.rating), class: "rating-dropdown" %>
  <%= f.label :rating, 'Rating' %>
    <div class="star-rating">
      <% (1..5).each do |star| %>
        <%= f.radio_button :rating, star %>
        <%= f.label :rating, star, value: star do %>
          <%= "â˜…" %>
        <% end %>
      <% end %>
  </p>
  <%= f.submit class: "reviewbox" %>
<% end %>
<% end %>
</div>
